<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * ScandiPWA_QuoteGraphQl
 *
 * @category    Scandiweb
 * @package     ScandiPWA_QuoteGraphQl
 * @author      Artjoms Travkovs <info@scandiweb.com>
 * @copyright   Copyright (c) 2019 Scandiweb, Ltd (https://scandiweb.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Klarna\Kp\Model\Payment\Kp"
                type="ScandiPWA\QuoteGraphQl\Model\Payment\Kp" />
</config>